<template>
  <div>
    <v-card>
      <v-card-title class="justify-center secondary white--text">
        {{formatHeader(day.date)}}
      </v-card-title>
      <template v-if="day.lessons.length > 0">
        <LessonView
            v-for="(lesson, index) in day.lessons"
            :lesson="lesson"
            :key="index"
        />
      </template>
      <template v-else>
        <v-divider/>
        <v-col class="text-center" cols="12">
          Нет расписания
        </v-col>
      </template>
    </v-card>
  </div>
</template>

<script>
  import LessonView from '../lessons/LessonView';
  import {formatHeader} from '../../util';

  export default {
    props: {
      'day': Object,
    },
    components: {LessonView},
    methods: {
      formatHeader: formatHeader,
    }
  }
</script>
