<template>
  <v-row dense align="start" justify="space-around">
    <v-col
        v-for="item in days"
        :key="item.name"
        cols="12"
        xl="2"
        lg="4"
        md="6"
        sm="12"
    >
      <Day :day='item'/>
    </v-col>
  </v-row>
</template>

<script>
  import Day from './Day';

  export default {
    components: {Day},
    props: {
      days: Array
    }
  }
</script>