<template>
  <v-container>
    <AppBar/>
    <v-fade-transition hide-on-leave>
      <Schedule v-if="!$store.getters.scheduleLoading" :days="$store.state.days"/>
      <Skeleton v-else :dates="dates"/>
    </v-fade-transition>
  </v-container>
</template>

<script>
  import Schedule from "./Schedule";
  import Skeleton from "./Skeleton";
  import {DateTime} from "luxon";
  import AppBar from "../AppBar";

  export default {
    components: {AppBar, Schedule, Skeleton},
    data: () => ({
      dates: Array
    }),
    methods: {
      fetchData() {
        this.$store.dispatch('route', {name: this.$route.name, params: this.$route.params});
        this.fillDates();
        this.$store.dispatch('loadDates', this.$route.fullPath);
      },
      fillDates() {
        let dates = [];
        let current = DateTime.fromISO(this.$store.getters.weekBegin);
        let end = DateTime.fromISO(this.$store.getters.weekEnd);

        while (current <= end) {
          dates.push(current);
          current = current.plus({day: 1});
        }
        this.dates = dates
      }
    },
    mounted() {
      this.fetchData()
    },
    watch: {
      '$route': 'fetchData'
    },
    computed: {
      loading() {
        return !this.$store.scheduleLoading;
      }
    }
  }
</script>
