<template>
  <v-row dense align="start" justify="space-around">
    <v-col
        v-for="day in dates"
        :key="'card-' + day"
        cols="12"
        :xl="2"
        :lg="4"
        :md="6"
        :sm="12"
    >
      <v-card>
        <v-card-title class="justify-center">
          {{formatHeader(day)}}
        </v-card-title>
        <v-skeleton-loader type="divider, list-item, list-item, card-heading, card-heading"/>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
  import {formatHeader} from '../../util';

  export default {
    props: {
      'dates': Array,
    },
    methods: {
      formatHeader: formatHeader,
    }
  }
</script>