<template>
  <v-dialog v-model="dialog" scrollable :max-width="maxDialogWidth">
    <template v-slot:activator="{ on }">
      <v-btn v-on="on" outlined>{{ text }}</v-btn>
    </template>
    <v-card>
      <v-tabs
          v-model="tab"
          background-color="secondary"
          fixed-tabs
          dark
      >
        <v-tab href="#groups">
          По группам
        </v-tab>
        <v-tab href="#teachers">
          По преподователям
        </v-tab>
      </v-tabs>
      <v-card-text style="height: 500px;">
        <template v-if="$store.getters.dataState === 'loaded'">
          <v-tabs-items v-model="tab">
            <v-tab-item value="groups">
              <ChooseGroupList :groups="$store.getters.groups" @click="dialog = false"/>
            </v-tab-item>
            <v-tab-item value="teachers">
              <ChooseTeacherList :teachers="$store.getters.teachers" @click="dialog = false"/>
            </v-tab-item>
          </v-tabs-items>
        </template>
        <v-row justify="center" align="center" style="height: 100%" v-else>
          <v-progress-circular indeterminate color="secondary"/>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-btn text @click="dialog = false" color="warning">Закрыть</v-btn>
        <v-spacer/>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import ChooseGroupList from "./ChooseGroupList";
  import ChooseTeacherList from "./ChooseTeacherList";

  export default {
    components: {ChooseTeacherList, ChooseGroupList},
    data: () => {
      return {
        tab: null,
        dialog: false,
      }
    },
    computed: {
      text() {
        if (this.$store.getters.text != null)
          return this.$store.getters.text;
        else
          return 'Расписание'
      }
    },
    props: {
      'maxDialogWidth': String,
    },
    watch: {
      dialog: function (value) {
        if (value && this.$store.getters.dataState === 'unloaded')
          this.$store.dispatch('loadData');
      }
    }
  }
</script>
