<template>
  <v-list>
    <v-list-item v-for="teacher in teachers"
                 :key="teacher.name"
                 :to="{ name: 'byTeacher',
                        params: {
                          teacher:teacher.name
                        },
                        query: {
                          from: $store.getters.weekBegin,
                          to:$store.getters.weekEnd
                        }
                      }"
                 @click="$emit('click')">
      <v-list-item-content>
        <v-list-item-title v-text="teacher.name"/>
      </v-list-item-content>
    </v-list-item>
  </v-list>
</template>

<script>
  export default {
    props: {
      'teachers': Array,
    },
  }
</script>
