<template>
  <v-list subheader>
    <v-list-item-group v-for="(groups,level) in byGraduateLevel" :key="level">
      <v-subheader v-text="graduateLevel(level)"/>
      <v-list-item v-for="group in groups"
                   :key="group.name"
                   :to="{ name: 'byGroup',
                          params: {
                            group: group.name
                          },
                          query: {
                            from: $store.getters.weekBegin,
                            to: $store.getters.weekEnd
                          }
                        }"
                   @click="$emit('click')">
        <v-list-item-content>
          <v-list-item-title v-text="group.name"/>
          <v-list-item-subtitle v-text="group.course + ' курс'"/>
        </v-list-item-content>
      </v-list-item>
      <v-divider/>
    </v-list-item-group>
  </v-list>
</template>

<script>
  import _ from 'lodash'
  import {graduateLevel} from "../../util";

  export default {
    methods: {
      graduateLevel: graduateLevel
    },
    computed: {
      byGraduateLevel() {
        return _.groupBy(this.groups, group => group.graduateLevel)
      }
    },
    props: {
      'groups': Array,
    },
  }
</script>
