<template>
  <v-app-bar app dense dark fixed color="primary" class="white--text">
    <v-spacer/>
    <Info max-dialog-width="600px"/>
    <template v-slot:extension>
      <v-tabs
          background-color="primary"
          grow
          dark
          @change="$emit('change', $event)"
      >
        <v-tab href="#groups">
          По группам
        </v-tab>
        <v-tab href="#teachers">
          По преподователям
        </v-tab>
      </v-tabs>
    </template>
  </v-app-bar>
</template>

<script>
  import Info from "../Info";

  export default {
    components: {Info},
    props: {
      value: String
    },
    model: {
      prop: 'value',
      event: 'change'
    }
  }
</script>
