<template>
  <div>
    <v-card>
      <v-card-title class="justify-center secondary white--text">
        {{course +' курс'}}
      </v-card-title>

      <v-list style="height: 300px">
        <v-list-item-group>
          <v-list-item v-for="group in groups"
                       :key="group.name"
                       :to="{ name: 'byGroup', params: {group: group.name}, query: { from:$store.getters.weekBegin, to:$store.getters.weekEnd }}"
                       @click="dialog = false"
          >
            <v-list-item-content>
              <v-list-item-title v-text="group.name"/>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-card>
  </div>
</template>

<script>
  export default {
    props: {
      groups: Array,
      course: String,
    },
  }
</script>
