<template>
  <v-container>
    <AppBar v-model="tab"/>
    <v-tabs-items v-model="tab" style="background-color: transparent">
      <v-tab-item value="groups">
        <v-row v-for="(groups, level) in byGraduateLevel" :key="level">
          <v-col cols="12">
            <GraduateLevel
                :groups="groups"
                :level="level"/>
          </v-col>
        </v-row>
      </v-tab-item>
      <v-tab-item value="teachers">
        <v-row justify="center">
          <v-col cols="12"
                 xl="6"
                 lg="6"
                 md="12"
                 sm="12">
            <Teachers :teachers="$store.getters.teachers"/>
          </v-col>
        </v-row>
      </v-tab-item>
    </v-tabs-items>

  </v-container>
</template>

<script>
  import _ from 'lodash'
  import GraduateLevel from "./GraduateLevel";
  import AppBar from "./AppBar";
  import Teachers from "./Teachers";

  export default {
    data: () => ({
      tab: null
    }),
    components: {
      AppBar,
      GraduateLevel,
      Teachers
    },
    computed: {
      byGraduateLevel() {
        return _.groupBy(this.$store.getters.groups, group => group.graduateLevel)
      }
    },
    mounted() {
      if (this.$store.getters.dataState === 'unloaded')
        this.$store.dispatch('loadData');
    }
  }
</script>
