<template>
  <div>
    <v-card>
      <v-card-title class="justify-center primary white--text">
        {{graduateLevel(level)}}
      </v-card-title>
    </v-card>
    <v-row align="start" justify="space-between">
      <v-col
          v-for="(groups, course) in byCourse"
          :key="course"
          cols="12"
          xl="3"
          lg="3"
          md="6"
          sm="12"
      >
        <Course :course="course" :groups="groups"/>
      </v-col>
    </v-row>
  </div>
</template>

<script>
  import _ from 'lodash'
  import Course from "./Course";
  import {graduateLevel} from "../../util";

  export default {
    components: {
      Course
    },
    methods: {
      graduateLevel: graduateLevel
    },
    computed: {
      byCourse() {
        return _.groupBy(this.groups, group => group.course)
      }
    },
    props: {
      groups: Array,
      level: String,
    },
  }
</script>
