<template>
  <v-card>
    <v-card-text>
      <v-text-field v-model="teacher" outlined append-icon="find_in_page"/>
      <ChooseTeacherList v-if="foundTeachers.length > 0" :teachers="foundTeachers"/>
      <v-list-item v-else>
        <v-list-item-title>Ничего не найдено</v-list-item-title>
      </v-list-item>
    </v-card-text>
  </v-card>
</template>

<script>
  import ChooseTeacherList from "../choose/ChooseTeacherList";
  import Fuse from 'fuse.js';

  export default {
    data: () => ({
      fuseOptions: {
        keys: ["name"]
      },
      fuse: Fuse,
      teacher: "",
      foundTeachers: []
    }),
    components: {
      ChooseTeacherList
    },
    props: {
      teachers: Array
    },
    mounted() {
      this.fuse = new Fuse(this.teachers, this.fuseOptions);
      this.foundTeachers = this.teachers;
    },
    watch: {
      teachers(value) {
        this.fuse = new Fuse(value, this.fuseOptions);
      },
      teacher(value) {
        if (value === "")
          this.foundTeachers = this.teachers;
        else
          this.foundTeachers = this.fuse.search(value);
      }
    }
  }
</script>
