<!DOCTYPE html>
<html lang="ru">
<head>
  <meta name="google-site-verification" content="BhxXnlDOI-iIX7jRdfkIf6AHvWpRCEHcgvyzf9Opf74"/>
  <meta name="yandex-verification" content="02e5fce05b0871c8"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.png">
  <title>schedule-ui</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
</head>
<body>
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
  var OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "96db34b4-a502-4686-84c8-75f9688a3a8b",
    });
  });

  OneSignal.push(function() {
    OneSignal.sendTag("group","ОЕ-71б");
  });
</script>
<noscript>
  <strong>We're sorry but schedule-ui doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong>
</noscript>
<div id="app"></div>
</body>
</html>
