<template>
  <div>
    <v-divider/>
    <MultipleLesson v-if="lesson.type==='MultipleLessonByGroupFormat'" :lesson="lesson" :day="day"/>
    <SingleLesson v-else :lesson="lesson" :day="day"/>
  </div>
</template>

<script>
    import SingleLesson from './SingleLesson'
    import MultipleLesson from './MultipleLesson'

    export default {
        components: {MultipleLesson, SingleLesson},
        comments: {
            SingleLesson: SingleLesson,
            MultipleLesson: MultipleLesson
        },
        props: {
            'lesson': Object,
            'day': Number
        }
    }
</script>
