<template>
  <v-container style="padding: 0">
    <SingleLesson v-for="less in lesson.lessons"
                  :key="less"
                  :lesson="less"
                  :day="day"
                  />
  </v-container>
</template>

<script>
    import SingleLesson from './SingleLesson'

    export default {
        components: {SingleLesson},
        comments: {
            SingleLesson: SingleLesson,
        },
        props: {
            'lesson': Object,
            'day': Number
        }
    }
</script>
