<template>
  <v-col cols="12">
    <v-row no-gutters>
      <v-col>
        <v-sheet :color="renderTypeColor()" elevation="1" tile
                 style="text-align: center; font-size: small"
                 class="white--text">
          <v-row no-gutters cols="12">
            <v-col cols="4">
              {{renderLessonType()}}
            </v-col>
            <v-col cols="8">
              Аудитория: {{lesson.auditorium.number}}, корпус: {{lesson.auditorium.building}}
            </v-col>
          </v-row>
        </v-sheet>
      </v-col>
    </v-row>
    <v-row no-gutters style="font-size: small; padding-bottom: 12px; padding-top: 12px">
      <v-col>{{ lesson.timeSlot.number}} пара</v-col>
      <v-col>{{ formatTime(lesson.timeSlot.begin) + ' — ' + formatTime(lesson.timeSlot.end)}}</v-col>
    </v-row>
    <v-row no-gutters style="height: 90px; padding-bottom: 12px; align-items: center; font-size: large">
      <v-col>
        {{lesson.name}}
      </v-col>
    </v-row>
    <v-row no-gutters cols="12" style="text-align: left">
      <template v-if="lesson.type === 'LessonByTeacherFormat'">
        <v-col style="font-size: small" v-if="lesson.groups.length === 1">
          группа: {{lesson.groups[0]}}
        </v-col>
        <v-col style="font-size: small" v-else>
          группы: {{lesson.groups.join(', ')}}
        </v-col>
      </template>
      <v-col cols="7" v-else>
        {{lesson.teacher}}
      </v-col>
      <v-col cols="5" style="text-align: right" v-if="!!lesson.subGroup">
        подгруппа: {{lesson.subGroup}}
      </v-col>
    </v-row>
  </v-col>
</template>

<script>
  import {lessonType, typeColor, formatTime} from '../../util'

  export default {
    props: {
      'lesson': Object,
    },
    methods: {
      formatTime: formatTime,
      renderLessonType() {
        return lessonType(this.lesson.lessonType)
      },
      renderTypeColor() {
        return typeColor(this.lesson.lessonType)
      }
    }
  }
</script>
