<template>
  <v-app-bar app dense dark fixed color="primary" class="white--text">
    <ChooseSchedule max-dialog-width="600px"/>
    <v-btn v-if="$store.getters.hasSchedule" icon @click="$store.dispatch('previousWeek')">
      <v-icon>arrow_back</v-icon>
    </v-btn>
    <v-btn v-if="$store.getters.hasSchedule" icon @click="$store.dispatch('nextWeek')">
      <v-icon>arrow_forward</v-icon>
    </v-btn>
    <v-spacer/>
    <Info max-dialog-width="600px"/>
  </v-app-bar>
</template>

<script>
  import ChooseSchedule from "./choose/ChooseSchedule";
  import Info from "./Info";

  export default {
    components: {ChooseSchedule, Info},
  }
</script>
