<template>
  <v-dialog v-model="dialog" :max-width="maxDialogWidth">
    <template v-slot:activator="{ on }">
      <v-btn icon v-on="on">
        <v-icon>info</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title class="secondary">
        <v-col style="text-align: center" class="white--text">
          Schudele UI <br>
          Danil Zasypkin <br>
          {{ '2019 ⁠– ' + new Date().getFullYear() }}
        </v-col>
      </v-card-title>
      <v-tabs
          v-model="tab"
          dark
          background-color="secondary"
          fixed-tabs
      >
        <v-tab href="#infos">
          <v-icon>info</v-icon>
        </v-tab>
        <v-tab href="#settings">
          <v-icon>build</v-icon>
        </v-tab>
        <v-tab href="#links">
          <v-icon>description</v-icon>
        </v-tab>

        <v-tabs-items v-model="tab">
          <v-tab-item value="infos">
            <v-card-text style="height: 300px">
              Неофициальный сайт для просмотра
              расписания&nbsp;<a href="http://www.uisi.ru/" target="_blank">УрТИСИ</a>
            </v-card-text>
          </v-tab-item>
          <v-tab-item value="settings">
            <v-list style="height: 300px" class="overflow-y-auto">
              <v-list-item>
                <v-list-item-action>
                  <v-switch color="secondary" v-model="$vuetify.theme.dark" @change="saveTheme($event)"/>
                </v-list-item-action>
                <v-list-item-title>
                  Темная тема
                </v-list-item-title>
              </v-list-item>
            </v-list>
          </v-tab-item>
          <v-tab-item value="links">
            <v-list style="height: 300px" class="overflow-y-auto">
              <v-list-item v-for="item in infoLinks"
                           :key="item.title"
                           :href="item.link"
                           target="_blank">
                <v-list-item-avatar>
                  <img :src="item.avatar">
                </v-list-item-avatar>
                <v-list-item-title>
                  {{item.title}}
                </v-list-item-title>
              </v-list-item>
            </v-list>
          </v-tab-item>
        </v-tabs-items>
      </v-tabs>
      <v-card-actions>
        <v-spacer/>
        <v-btn text @click="dialog = false">Закрыть</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import {set} from 'tiny-cookie'

  export default {
    data: () => ({
      tab: null,
      dialog: false,
      infoLinks: [
        {
          title: 'Поддержать проект',
          link: 'https://www.buymeacoffee.com/littleinferno',
          avatar: 'https://bmc-cdn.nyc3.digitaloceanspaces.com/BMC-button-images/BMC-btn-logo.svg'
        },
        {
          title: 'Репозиторий API',
          link: 'https://gitlab.com/little_inferno/schedule',
          avatar: 'https://about.gitlab.com/images/press/logo/svg/gitlab-icon-rgb.svg'
        },
        {
          title: 'Swagger API',
          link: `${process.env.VUE_APP_SCHEDULE_API}/swagger`,
          avatar: 'https://static1.smartbear.co/swagger/media/images/logos/swagger_icon.svg?ext=.svg'
        },
        {
          title: 'Репозиторй данного сайта',
          link: 'https://gitlab.com/little_inferno/schedule-ui',
          avatar: 'https://about.gitlab.com/images/press/logo/svg/gitlab-icon-rgb.svg'
        },
        {
          title: 'Сообщить об ошибке',
          link: 'https://gitlab.com/little_inferno/schedule-ui/issues/new',
          avatar: 'https://about.gitlab.com/images/press/logo/svg/gitlab-icon-rgb.svg'
        }
      ]
    }),
    props: {
      'maxDialogWidth': String
    },
    methods: {
      saveTheme(event) {
        set("schedule.theme", event, {expires: '1M'})
      }
    }
  }
</script>
