<template>
  <div/>
</template>


<script>
  import router from "../router";
  import {get} from 'tiny-cookie'

  export default {
    mounted() {
      let params = get('schedule.params');
      if (params) {
        this.$store.commit('route', JSON.parse(params));
        return router.push(this.$store.getters.route)
      } else
        router.push('/home')
    }
  };
</script>
