<template>
  <v-app>
    <v-content>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>
  import {get} from 'tiny-cookie'

  export default {
    created() {
      this.$vuetify.theme.dark = get('schedule.theme') === 'true';
      this.$store.dispatch('launch');
    }
  };
</script>
